# Loan Prediction - Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import os

In [9]:
df_sample = pd.read_csv('dataset/train_loan.csv')
df_sample

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128.0,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360,1,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267.0,360,1,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95.0,360,1,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504,158.0,360,0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526,168.0,360,1,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968,349.0,360,1,Semiurban,N

In [12]:
df_sample.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term       int64
Credit_History         int64
Property_Area         object
Loan_Status           object
dtype: object

In [13]:
def show_options(df):

array(['0', '1', '2', '3+'], dtype=object)

In [ ]:
df_sample['Married','Self_']