# Loan Prediction 05 - Pre processing imputed MissForest dataset

In [9]:
import sys
sys.path.append('utils')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as sp

plt.style.use('seaborn')

import dataframe_utils

In this notebook, the only necessary pre process will be the removal of outliers with over 4 std.

In [15]:
df_import = pd.read_csv('dataset/train_rf_imputed.csv')
display(df_import.head(10))
print(df_import.shape)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Base_Loan_Installment,Remaining_Income,Loan_Status
0,1.0,0.0,0.0,0.0,0.0,5849.0,0.0,98.22,360.0,1.0,2.0,275.000556,0.948233,Y
1,1.0,1.0,1.0,0.0,0.0,4583.0,1508.0,128.00,360.0,1.0,0.0,359.111111,0.941042,N
2,1.0,1.0,0.0,0.0,1.0,3000.0,0.0,66.00,360.0,1.0,2.0,185.166667,0.938278,Y
3,1.0,1.0,0.0,1.0,0.0,2583.0,2358.0,120.00,360.0,1.0,2.0,336.666667,0.931863,Y
4,1.0,0.0,0.0,0.0,0.0,6000.0,0.0,141.00,360.0,1.0,2.0,395.583333,0.934069,Y
5,1.0,1.0,2.0,0.0,1.0,5417.0,4196.0,267.00,360.0,1.0,2.0,749.083333,0.922076,Y
6,1.0,1.0,0.0,1.0,0.0,2333.0,1516.0,95.00,360.0,1.0,2.0,266.527778,0.930754,Y
7,1.0,1.0,3.0,0.0,0.0,3036.0,2504.0,158.00,360.0,0.0,1.0,443.277778,0.919986,N
8,1.0,1.0,2.0,0.0,0.0,4006.0,1526.0,168.00,360.0,1.0,2.0,471.333333,0.914799,Y
9,1.0,1.0,1.0,0.0,0.0,12841.0,10968.0,349.00,360.0,1.0,1.0,979.138889,0.958875,N

(614, 14)

In [17]:
df_import.describe()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Base_Loan_Installment,Remaining_Income
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.00000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,0.815961,0.649837,0.752443,0.218241,0.133550,5403.459283,1621.245798,145.59741,342.410423,0.855049,1.037459,477.422620,0.922129
std,0.387832,0.477410,1.009233,0.413389,0.340446,6109.041673,2926.248369,84.40996,64.428629,0.352339,0.787482,516.340450,0.079389
min,0.000000,0.000000,0.000000,0.000000,0.000000,150.000000,0.000000,9.00000,12.000000,0.000000,0.000000,25.250000,-0.249242
25%,1.000000,0.000000,0.000000,0.000000,0.000000,2877.500000,0.000000,100.00000,360.000000,1.000000,0.000000,288.972222,0.917517
50%,1.000000,1.000000,0.000000,0.000000,0.000000,3812.500000,1188.500000,127.00000,360.000000,1.000000,1.000000,366.125000,0.930225
75%,1.000000,1.000000,1.000000,0.000000,0.000000,5795.000000,2297.250000,165.00000,360.000000,1.000000,2.000000,507.104167,0.943865
max,1.000000,1.000000,3.000000,1.000000,1.000000,81000.000000,41667.000000,700.00000,480.000000,1.000000,2.000000,9342.500000,0.992922

In [16]:
outlier_threshold = 4
numerical_columns = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Base_Loan_Installment','Remaining_Income']
z_score = np.abs(sp.zscore(df_import[numerical_columns]))
df_numerical_no_outlier = df_import.loc[(z_score < outlier_threshold).all(axis=1),:].copy()
display(df_numerical_no_outlier.describe())
print(df_numerical_no_outlier.shape)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Base_Loan_Installment,Remaining_Income
count,593.000000,593.000000,593.000000,593.000000,593.000000,593.000000,593.000000,593.000000,593.000000,593.000000,593.000000,593.000000,593.000000
mean,0.816189,0.650927,0.740304,0.224283,0.131535,4814.338954,1433.502395,138.483659,344.782462,0.854975,1.026981,424.297222,0.926597
std,0.387657,0.477079,1.000006,0.417462,0.338269,3276.510325,1716.688338,65.924533,59.003277,0.352424,0.790108,242.254536,0.033815
min,0.000000,0.000000,0.000000,0.000000,0.000000,150.000000,0.000000,9.000000,60.000000,0.000000,0.000000,25.250000,0.641279
25%,1.000000,0.000000,0.000000,0.000000,0.000000,2875.000000,0.000000,100.000000,360.000000,1.000000,0.000000,286.166667,0.917737
50%,1.000000,1.000000,0.000000,0.000000,0.000000,3762.000000,1213.000000,125.000000,360.000000,1.000000,1.000000,364.722222,0.930206
75%,1.000000,1.000000,1.000000,0.000000,0.000000,5703.000000,2253.000000,160.000000,360.000000,1.000000,2.000000,490.972222,0.943281
max,1.000000,1.000000,3.000000,1.000000,1.000000,23803.000000,10968.000000,480.000000,480.000000,1.000000,2.000000,2104.166667,0.991538

(593, 14)

In [19]:
df_numerical_no_outlier.to_csv('dataset/train_loan_rf_no_outlier.csv',index = False)